body{
    background: white;
    min-width: 291px;
}

.navbar{
    background: #4b83f3;
}
.span-welcome{
    color: rgb(255, 246, 246);
    margin-left: 100px;
    font-size: 18px;
}
._span_manage{
    font-size: 18px;
    color: aliceblue;
}
._span_manage_employees{
    font-size: 20px;
    color: aliceblue;
}
.navbar-nav-buttons{
    float: right;
}
.card-header {
    background-color: #3b5998;
}